# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/

# Data & models (version these with DVC / Git-LFS instead of raw Git)
data/processed/
dvc-storage/
*.pt
*.h5
*.pkl

# MLflow
mlruns/
artifacts/

# Logs
logs/*.log

# Env
.env

# OS
.DS_Store
